* {
    font-family: 'Inter', sans-serif;
}
a {
    color: var(--text-color);
    text-decoration: none;
}
p {
    padding-bottom: 4px !important;
    margin-bottom: 0 !important;
}
.form-input-invisible {
    background-color: transparent;
    border: none;
    outline: none;
    font-style: 15px;
}
.form-button-invisible {
    background-color: transparent;
    border: none;
    outline: none;
}
.w-90 {
    width: 90% !important;
}
.w-95 {
    width: 95% !important;
}
.h-44 {
    height: 44px !important;
}
.fs-13 {
    font-size: 14px !important;
}
.row .col-custom {
    width: 20%;
    float: left;
    box-sizing: border-box;
    padding: 0 15px;
}
.main-link {
    color: #222 !important;
}
.main-link:hover {
    color: var(--main-color) !important;
}
.fw-500 {
    font-weight: 500 !important;
}
.fw-600 {
    font-weight: 600 !important;
}
.fw-700 {
    font-weight: 700 !important;
}
.text-main {
    color: var(--main-color) !important;
}
.fs-icon {
    font-size: 20px;
}
.text-blue {
    color: blue !important;
}
.img-thumb {
    overflow: hidden;
}
.img-c {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}
