.cart {
    width: 750px;
}

.addCard-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99999999999999999999;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.addCard-overlay.active {
    display: flex;
}

.addCart-successfully {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart .back-link {
    font-size: 16px;
}

.cart .back-link:hover {
    text-decoration: underline;
}

.cartContainer,
.addressContainer {
    background-color: var(--white-color);
    border-radius: 6px;
    width: 720px;
    display: none;
}

.cartContainer.active,
.addressContainer.active {
    display: block;
}

.cart__orderStatus {
    height: 100px;
    width: 100%;
    border-radius: 6px;
    background-color: #ffeded;
}

.cart__orderStatus--item {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart__orderStatus--item i {
    font-size: 24px;
    position: relative;
}

.cart__orderStatus--item .icon::after {
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    height: 0;
    width: 185px;
    border-top: 1px dotted #000;
}

.cart__orderStatus--item .icon.active.borders::after {
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    height: 0;
    width: 185px;
    border-top: 1px dotted var(--main-color);
}

.cart__orderStatus--item i.active {
    color: red;
}

.cart__orderStatus--item.active {
    color: var(--main-color);
}

.cart__list--img {
    border-radius: 6px;
    border: 1px solid #ecebeb;
}

.cart__list--delete {
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 4px;
}

.cart__list--delete:hover {
    color: var(--main-color);
}

.cart__info--name {
    font-size: 17px;
    height: 40px;
    overflow: hidden;
}

.cart__info--name:hover {
    color: var(--main-color);
}

.cart__info--deal p {
    margin-bottom: 0;
    font-size: 13px;
}

.cart__list--handle .old-price {
    text-decoration: line-through;
    color: #a1a1a1;
}

.cart__list--handle .new-price {
    font-size: 20px;
}

.cart__list--quantity .subtract,
.cart__list--quantity .plus {
    height: 34px;
    width: 34px;
    border: 1px solid #888;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.cart__list--quantity .subtract {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.cart__list--quantity .plus {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.cart__list--quantity .quantity {
    width: 72px;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    border-left: none;
    border-right: none;
    text-align: center;
    outline: none;
}

.cart__discount {
   height: 40px;
   border-radius: 4px;
   border: 1px solid #888;
}

.cart__discount input {
    border: none;
    outline: none;
    padding-left: 12px;
    height: 100%;
    width: 84%;
}

.cart__discount button {
    border: none;
    outline: none;
    width: 16%;
    height: 100%;
    color: var(--white-color);
    background-color: var(--main-color);
    border-radius: 3px;
}

.cart__pay span {
    font-size: 18px;
}

.cart__orderBtn {
    height: 72px;
    background-color: #fff;
    color: #222;
    font-size: 22px;
    border: 4px solid var(--main-color);
    border-radius: 6px;
}

.cart__orderBtn:hover {
    color: #fff;
    background-color: var(--main-color);
}

.address__content--info input {
    height: 40px;
    outline: none;
    border-radius: 4px;
    border: 1px solid #888;
}

.address__content--home {
    height: 132px;
    background-color: #ececec;
    border-radius: 4px;
}

.address__content--note {
    outline: none;
    border-radius: 4px;
    border: 1px solid #888;
    height: 40px;
}

.address__content--home select,
.address__content--home input {
    outline: none;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #888;
}


